.user-card-container {
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  & a {
     text-decoration: none;
  }

  .user-card-text {
    text-align: center;
    margin-bottom: 30px;

    & h2 {
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 15px;
      color: #F29C33;
    }

    & p {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      line-height: 1.6;
      color: #F29C33;
    }
  }

  .user-card-options {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .user-option {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }

    & h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-family: "Roboto", Roboto;
      color: #333;
    }

    & p {
      font-size: 16px;
      line-height: 1.6;
      font-family: "Roboto", Roboto;
      color: #666;
    }
  }

  .form_style_img {
    max-width: 100%;
    max-height: 60%;
    margin-top: 60px;

    & img {
      width: 100%;
      border-radius: 32px;
    }
  }
}
