.footer_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262522;
  border-radius: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .footer_img {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    span {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      color: white;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;

      &:not(:first-child)::before {
        content: '|';
        position: absolute;
        left: -10px;
        color: white;
      }

      a {
        text-decoration: none;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer_images {
    display: flex;
    gap: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
