.background_section {
  margin-top: 80px;
  background-color: darkseagreen;
  height: 350px;

  & .progress_component_style{
     margin-top: 150px;
  }

  hr{
     margin-top: 100px;
     color: cadetblue;
  }
}
