.product_style {
  display: flex;
  align-items: center;
  margin-top: 150px !important;
  gap: 60px;
  

  & .product_text {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h2 {
      font-family: Open Sans, "Open Sans";
      color: cadetblue;
    }

    & p {
      font-family: Open Sans, "Open Sans";
      color: black;
      font-size: 18px;
    }
  }

  .person_img {
    max-width: 500px;
    max-height: 500px;

    & img {
      width: 100%;
      border-radius: 60px;
      height: 100%;
    }
  }
}
