.product_style{
   display: flex;
   align-items: center;
   margin-top: 150px !important;
   gap: 50px;
   background-color:cornflowerblue;
   max-height: 550px;
   
   & .product_text{
       display: flex;
       flex-direction: column;
       gap: 40px;

      & h2{
         color: white;
         font-family: Open Sans, "Open Sans";
       }

      & p{
         color: white;
         font-family: Open Sans, "Open Sans";
         font-size: 18px;
       }
   }

}