.shopsearch-container {
  .shopsearch-navbar {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 40px;
    border-radius: 32px;
    justify-content: space-between;

    .shopsearch-logo-text {
      display: flex;
      align-items: center;
      gap: 20px;

      & p {
        font-family: "Roboto", sans-serif;
        color: black;
      }
    }

    .shopsearch-search-user {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .shopsearch-search-bar {
      position: relative;
      display: flex;
      align-items: center;

      input[type="search"] {
        padding: 10px 40px 10px 15px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 24px;
        outline: none;
        width: 200px;
        transition: width 0.3s ease-in-out;
      }

      input[type="search"]:focus {
        width: 300px;
      }

      .shopsearch-search-icon {
        position: absolute;
        right: 10px;
      }
    }

    .shopsearch-user-icon {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
