.progress_style {
  display: flex;
  align-items: center;
  gap: 100px;
  & .progress_img {
    max-width: 500px;
    max-height: 500px;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  & .progress_text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    & h2 {
      font-family: Open Sans, "Open Sans";
      font-size: 22px;
      font-weight: 500;
      color: cadetblue;
    }

    & p {
      font-size: 17px;
      font-family: Open Sans, "Open Sans";
      color: cadetblue;
    }
  }

  
}
