.hero_bg {
  background-image: url("../../../assets/images/hero.png");
  background-size: cover;
  height: 100vh;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  align-items: center;

  & h1 {
    font-family: "Roboto", Roboto;
    font-size: 70px;
    color: white;
  }

  & p {
    color: white;
    font-family: "Roboto", Roboto;
    font-size: 18px;
  }

  & button{
     background-color: #F29C33;
     border-radius: 24px;
     border: none;
     padding: 15px;
     cursor: pointer;
  }
}
