.tabs_block {
  display: flex;
  margin-top: 30px;
  flex-direction: column;

  & .tabs_background {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 1000px;
    padding: 20px;
  }

  & .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: start;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      width: 200px;
      border-radius: 20px;
      height: 40px;
      border: none;
      color: black;
      background-color: #f5f5f5;
    }

    & button:hover {
      background-color: #00a082;
      box-shadow: 0 10px 24px #00000026;
    }

    & .active {
      background-color: #00a082;
      transition: 0.1s;
      color: white;
    }
  }
}

// content_style

.recipe_flex {
  display: flex;
  align-items: center;
  gap: 100px;

  & .text_style {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  & h2 {
    font-family: "Roboto", Roboto;
    font-size: 25px;
    color: black;
  }

  & p {
    font-family: "Roboto", Roboto;
    font-size: 18px;
    color: black;
  }
}

.progress_style{
   
 

    & .progress_img {
       & img {
          max-width: 350px;
       }
    }
}
