.navigation_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo_width {
    & img {
      width: 45px;
      height: 45px;
    }
  }
   
  &  ul {
     display: flex;
     gap: 30px;
     align-items: center;
  }
}
