@import '../../../../scss/variable';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/images/sectionimg/loginbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px;

  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .login-logo {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }

    .input-container {
      width: 100%;
      margin-bottom: 15px;
    }

    .login-input {
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: orange;
        outline: none;
      }

      &.input-error {
        border-color: red;
      }
    }

    .error-message {
      display: flex;
      flex-direction: column;
      color: red;
      font-size: 12px;
      font-family: $font-roboto;
      margin-top: 5px;
    }

    .login-button {
      width: 300px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      color: black;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ff6a00;
        color: white;
        transition: 0.5s;
      }
    }

    .google-login-container {
      width: 300px;
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }
}
