.background_footer {
  background-color: #23262f;
  height: 350px;
  max-width: 100%;
  margin-top: 70px;

  & .footer_style {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .footer_text_style {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & p {
        font-family: Open Sans, "Open Sans";
        color: white;
        font-size: 15px;
      }
    }

    & .animation_style_cat {
      max-width: 550px;
      max-height: 550px;
    }

    & .footer_pages {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & span {
        font-size: 17px;
        font-family: Open Sans, "Open Sans";
        color: White;
        font-weight: 600;
      }

      & a {
        text-decoration: none;
        font-family: Open Sans, "Open Sans";
        color: white;
      }

      & a:hover{
         color: cadetblue;
         transition: 0.3s;
      }
    
    }

    & .footer_partner {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & span {
        color: white;
        font-size: 17px;
        font-family: Open Sans, "Open Sans";
        font-weight: 600;
      }

      & a {
        text-decoration: none;
        font-family: Open Sans, "Open Sans";
        color: white;
      }

      & a:hover{
         color: cadetblue;
         transition: 0.3s;
      }
    
    }
  }

 
  & .copyring {
    display: flex;
    justify-content: center;
    & p {
      color: white;
      align-items: center;
      font-family: Open Sans, "Open Sans";
    }
  }
}
